#quote-box {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  height: 30%;
  width: 60%;
  box-shadow: 1px 1px 10px #333;
}


#text {
  width: 70%;
  line-height: 26px;
}

#author {
  width: 70%;
  text-align: right;
  font-size: small;
}

#card-bottom {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#tweet-quote {
  text-decoration: none;
  color: black;
}

#new-quote {
  padding: 10px;
  border: none;
  box-shadow: 1px 1px 4px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
}

#new-quote:hover {
  transform: translateY(-6%);
}